div {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background-image: url(/Assets/bgimg.jpg); /*Set background image inside div*/
    background-size: cover; /*Fit background image inside div*/
    color: white;
}