body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

nav a:hover{
    background: gray;
    /* transform: scale(1.2); */
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(210, 222, 103);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


main{
    text-decoration: none;
    color: black;
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
    flex: 1;
} 

main a{
    text-decoration: none;
}

footer{
    background-color: rgb(255, 0, 247);
    text-align: center;
    padding: 35px 0px;
}

button{
    background-color: gainsboro;
}

button:hover{
    background-color: rgb(0, 242, 255)
}
