/* Let's learn about height, width, margin & padding */
div {
    height : 200px;
    width : 500px;
    background-color: pink;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    margin: 10px 20px 30px;
}

h1 {
    border-style: dashed;
    border-width: 2px;
    border-color: purple;
}